
 
.card8{
    border-radius: 5px;
   
     background-color: gainsboro;
     /* width:100%; */
margin:-341px 250px 72px 365px;


} 
/* .card1{
    border-radius: 5px;
     position: relative;
     background-color: gainsboro;
    margin: -341px 43px 103px 331px;
}  */

.card-body{
 width:100%;
margin: 45px 246px 40px 5px;
/* background-color: silver; */

}
.block{
  margin:7px -11px 9px -70px;
  padding: 4px 62px 0px 58px;
  border-radius: 2px;
}

