/* .Booking{
    width: 400px;
     margin: 50px 0 0 0;
     background-color: rgb(211,211,211); 
 } */
 .navbar{
   margin:  -40px 17px 10px 10px;
}
 
 .card1{
    
    width: 600px;
    margin: 51px 151px -14px 128px;
    /* padding: 10px 10px 15px 50px; */
    /* background-color: rgb(211,211,211);  */
}
.card{
   
    margin:54px -1px 13px -1px;;
    background-color:white;  
}

.ic{
    padding: 1px;
    margin-right:6px;
    background-color: white;
}
Table{
    min-width: 650;

}
.alert-info{
    overflow: hidden;
  
    position: relative;
    /* background-color: turquoise; */
    margin: 2px 25px -4px 10px;
   
}
   
/* .root1{
    width: 550px;
    margin: 30px 10px 20px 0;
}  */
/* .card-table{
    width: 50px;
    margin: 51px 0 0 30px;   
} */
 
