/* .Booking{
    width: 400px;
     margin: 50px 0 0 0;
     background-color: rgb(211,211,211); 
 } */
 
  /* .card6{
     
     width: 630px;
     margin: 51px 10px 0 10px;
     padding: 10px 10px 15px 50px;
     /* background-color: rgb(211,211,211);  */
 /* } */ 
 .card9{
    
     margin: -39px -1px 13px -1px;;
     background-color:white;  
 }
 
 .ic{
     padding: 1px;
     margin-right:6px;
     background-color: white;
 }
 Table{
     min-width: 100;
 
 }
 .alert-info{
     overflow: hidden;
   
     position: relative;
     /* background-color: turquoise; */
     margin: 2px 25px -4px 10px;
    
 }
    
 /* .root1{
     width: 550px;
     margin: 30px 10px 20px 0;
 }  */
 /* .card-table{
     width: 50px;
     margin: 51px 0 0 30px;   
 } */
  
 .table{
    width: 131%;
  }
  .root {
    width:'100%';
    overflowX:'auto';
  }
  .cards1{
    
    width: 634px;
    margin: 52px -37px 34px 122px;
    padding: 15px 14px 19px 27px;
}
    

    .selected{
      margin: 1px -8px 13px 230px;
      padding: 3px 41px 4px 24px;
  }
    
