/* .login{
    width: 350px;
    background: cornsilk;
    padding: 45px 21px;
    margin: 94px 411px;
    border: 1px solid #d0d0d0;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-left: 7%;
    margin-top: 20px;
} */
.login{
    padding: 100px;
    background-color:gray;
}